In [1]:
2+2

4

In [2]:
3+3

6

In [3]:
print('hello, World!')

hello, World!

# Introduction to Python
This is where we can add text.
We must designate this cell as "Markdown" cell.
with a single hashtag we can get a big section header.
We can also add subsections.

## Subsection
It is convinent to communicate how your code works and what it is doing with the markdown cell.
We can also use LaTeX commands in-line with single dollar sign : $\int_0^\infty f{x} dx$
We can add LaTeX equations centered on thier own lines with double dollar signs : $$\sum_{i=1}^\infty \frac{1}{2}$$

## Shortcuts

1. Shift + Enter  (to run a cell and cursor will move to the bottom cell )
2. Ctrl  + Enter  (to run a cell cursor will be their only )
3. Alt   + Enter  (to run a cell and a new cell will be created automatically with a cursor blinking in it to write code )
4. Tab             ([pr] will get a dropdown showing some python functions starting with pr )
5. Shift + Tab (while we type any python function such as print the command will help us to know the properties of the function)
6. Ctrl + / (to comment a line)

In [4]:
# we can add comments to code cells using a hashtag  
# On windows we can comment a line using "ctrl + /"
# assign a variable to a literal value
a=3
print('five times a is', 5*a, 'and 3 multiplied by a is', 3*a)
a = 2
print('five times a is', 5*a, 'and 3 multiplied by a is', 3*a)

five times a is 15 and 3 multiplied by a is 9
five times a is 10 and 3 multiplied by a is 6

In [5]:
# We can also inspect the variables
print('a is of type', type(a))
b = 2.1
print('b is of type', type(b))
c = a/b
print('c is of type', type(c), 'and its value is', c)
c = float(a)/b
print('c is of type', type(c), 'and its value is', c)
d = a/b
print('d is of type', type(d), 'and its value is', d)

e = "Hi"
print('e is of type', type(e))

a is of type <class 'int'>
b is of type <class 'float'>
c is of type <class 'float'> and its value is 0.9523809523809523
c is of type <class 'float'> and its value is 0.9523809523809523
d is of type <class 'float'> and its value is 0.9523809523809523
e is of type <class 'str'>

In [6]:
a = 24

b=7

c=a/b

print("a is of type",type(a), "and c is of type", type(c) )

a is of type <class 'int'> and c is of type <class 'float'>

# Collections of variables
1. List  (A list is an ordered and indexed collection of values that are changables and allows duplicates)
2. Touple (A Tuple is a ordered collection of values that is unchangable and allows duplicates)
3. Set     (A set is a unordered collection of values that are changeable and does not allow duplicates)
4. Dictionary (A Dictionary is a collection of values that are unordered [but indexed] and changable)

In [7]:
# A list is an ordered and indexed collection of values that are changable and allows duplicates.
simple_list = ['Abhi',2,3,4,'python',2.71]
print(simple_list)
print(simple_list[0])
print(simple_list[3])
print(simple_list[-1])
print(simple_list[-2])
print(len(simple_list))

['Abhi', 2, 3, 4, 'python', 2.71]
Abhi
4
2.71
python
6

In [8]:
# it is easy to change the entries of the list
simple_list[3] = 52
print(simple_list[3])
simple_list.append('to the back')
print(simple_list)
print(len(simple_list))
simple_list.pop(4)
print(simple_list)

52
['Abhi', 2, 3, 52, 'python', 2.71, 'to the back']
7
['Abhi', 2, 3, 52, 2.71, 'to the back']

In [9]:
# it is easy to initialize a list of a particular size with all entries the same
repeated_list = [5]*4
print(repeated_list)

[5, 5, 5, 5]

In [10]:
# We can also use lists as entries of a list 
simple_list[1] = [1, 2, 3]
print(simple_list)
print(simple_list[1])
print(simple_list[1][1])

['Abhi', [1, 2, 3], 3, 52, 2.71, 'to the back']
[1, 2, 3]
2

In [11]:
# copying list is a little tricky
list2 = simple_list
print(list2)
print(simple_list)
list2[1] = 0
print(list2)
print(simple_list) # the changes done in list2 will effect the main list also

['Abhi', [1, 2, 3], 3, 52, 2.71, 'to the back']
['Abhi', [1, 2, 3], 3, 52, 2.71, 'to the back']
['Abhi', 0, 3, 52, 2.71, 'to the back']
['Abhi', 0, 3, 52, 2.71, 'to the back']

In [12]:
# To avoid this behaviour we have to use copy method
list3 = simple_list.copy()
print(list3)
print(simple_list)
list3[0] = 'ABHINAV'
print(list3)
print(simple_list)

['Abhi', 0, 3, 52, 2.71, 'to the back']
['Abhi', 0, 3, 52, 2.71, 'to the back']
['ABHINAV', 0, 3, 52, 2.71, 'to the back']
['Abhi', 0, 3, 52, 2.71, 'to the back']

In [13]:
# A Tuple is a ordered collection of values that is unchangable and allows duplicates
simple_tuple = (12, 42, 11, 99, 2351)
print(simple_tuple)
print(simple_tuple[1])

(12, 42, 11, 99, 2351)
42

In [18]:
# it is not possible to change entries in the tuple
# simple_tuple[2] = 26
# print(simple_tuple)

In [15]:
# we can work around this through...
dummy = list(simple_tuple)
dummy[0] = 16
simple_tuple = tuple(dummy)
print(simple_tuple)
# Here we have to type cast the tuple to the list and we stored it in a dummy variable 
# and then the dummy contains a list and inside a list we can change values so we changed the value
# As dummy is a list now we again have typecast it back to tuple
# and simultaneously we storedthe tuple(dummy) inside the simple_tuple
# and given the command to print the simple_tuple again and hence we over come this thing

(16, 42, 11, 99, 2351)

In [16]:
# A Set is a unordered collection of values that are changable and does not allow duplicates
simple_set = {11, -2, 'water', -2}
print(simple_set)

{'water', 11, -2}

In [19]:
# print(simple_set[1])

In [20]:
print('water' in simple_set)

True

In [21]:
# We cannot change values but we can add and remove entries from the set
simple_set.add(72)
print(simple_set)
simple_set.remove('water')
print(simple_set)

{72, 'water', 11, -2}
{72, 11, -2}

In [22]:
# A Dictionary is a collection of values that are unordered[but indexed] and changeable
simple_dict = {
    "brand" : "Apple",
    "product" : "iPhone",
    "model"  :  "X"
}
print(simple_dict)
print('i bought an', simple_dict['product'], 'model', simple_dict['model'], 'from', simple_dict['brand'])

{'brand': 'Apple', 'product': 'iPhone', 'model': 'X'}
i bought an iPhone model X from Apple

In [23]:
simple_dict['model'] = "11 pro"
print('i bought an', simple_dict["product"], 'model', simple_dict["model"], 'from', simple_dict["brand"])

i bought an iPhone model 11 pro from Apple

In [24]:
simple_dict["color"] = "red"
print('i bought a', simple_dict["color"], simple_dict["product"], 'model', simple_dict["model"], 'from', simple_dict["brand"])

i bought a red iPhone model 11 pro from Apple

In [26]:
simple_list = [1, 5, 2, 7, 3, 66, 1923, 11]
# we can access multiple values in the list using the --> :
# we must be careful though
print(simple_list[2:5])
# why is not 66 in the output
# the number of the left of the : is inclusive but thenumber to the right is exclusive
print(simple_list[2:3])
# we can also use negative numbers
print(simple_list[-5:-1])

[2, 7, 3]
[2]
[7, 3, 66, 1923]

# Wrpping up

Once we are done with yhe notebook we can export it as an html file.
File/ Download as / HTML
The code in this HTML file cannot re-run but is a concise way to communicate your results. And anyone can copy/paste tour inputs