In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
sns.set(color_codes = True)
%matplotlib inline

In [2]:
df = pd.read_csv("airquality.csv")
df

     Ozone  Solar.R  Wind  Temp  Month  Day
0     41.0    190.0   7.4    67      5    1
1     36.0    118.0   8.0    72      5    2
2     12.0    149.0  12.6    74      5    3
3     18.0    313.0  11.5    62      5    4
4      NaN      NaN  14.3    56      5    5
..     ...      ...   ...   ...    ...  ...
148   30.0    193.0   6.9    70      9   26
149    NaN    145.0  13.2    77      9   27
150   14.0    191.0  14.3    75      9   28
151   18.0    131.0   8.0    76      9   29
152   20.0    223.0  11.5    68      9   30

[153 rows x 6 columns]

Q2. How many observations are there in the object you just imported?

In [27]:
df.shape

(153, 6)

Q3. How many Missing Values are there in the column Solar.R?

In [11]:
df["Solar.R"].isnull().sum()

7

Q4. What was the Ozone Levels on 7th July?

In [31]:
# df["Ozone"].iloc["Month" == 7]#, "Day" = 7]
df[(df.Day == 7) & (df.Month == 7)]

    Ozone  Solar.R  Wind  Temp  Month  Day
67   77.0    276.0   5.1    88      7    7

Q5. What has been the average temperature in the month of September?

In [33]:
df[(df.Month == 9)].mean()

# aq.groupby('Month')['Temp'].mean().iloc[4]

Ozone       31.448276
Solar.R    167.433333
Wind        10.180000
Temp        76.900000
Month        9.000000
Day         15.500000
dtype: float64

Q6. What was the maximum windspeed observed in July?

In [34]:
df[(df.Month == 7)].max()

# aq.groupby('Month')['Wind'].max().iloc[2]

Ozone      135.0
Solar.R    314.0
Wind        14.9
Temp        92.0
Month        7.0
Day         31.0
dtype: float64

Q7. Which month has the day with minimum amount of Solar Radiation?

In [42]:
# df[df["Solar.R"].min(df.Month) &(df.Day)]
# df.groupby('Month', 'Day')["Solar.R"].min()
df.sort_values(by = "Solar.R", ascending = True).head(1)

    Ozone  Solar.R  Wind  Temp  Month  Day
81   16.0      7.0   6.9    74      7   21

Q8. Which month has the coldest day?

In [45]:
df.sort_values(by = "Temp", ascending = True).head(1)

   Ozone  Solar.R  Wind  Temp  Month  Day
4    NaN      NaN  14.3    56      5    5

Q9. Which was the hottest day? (Only day not month)

In [46]:
df.sort_values(by = "Temp", ascending = True).tail(1)
# aq.sort_values(by='Temp',ascending=False).head(1)

     Ozone  Solar.R  Wind  Temp  Month  Day
119   76.0    203.0   9.7    97      8   28

Q10. Which day had Ozone Level of 78 and Temperature of 86 (Day and Month)

In [49]:
df[(df.Ozone == 78) & (df.Temp == 86)]

    Ozone  Solar.R  Wind  Temp  Month  Day
95   78.0      NaN   6.9    86      8    4